body {
  font-family:'Montserrat', sans-serif;
  margin:0.5rem;
  background: #000;
  color:white;
  overflow:hidden;
}
.main{
  display:flex;
  height:100vh;
}
.sidebar{
  background-color:rgb(0, 0, 0);
  width:350px;
  border-radius: 1rem;/*16px*/
  margin-right: 0.5rem;
}
.main-content{
  background-color:rgba(25, 27, 25, 0.89);
  flex:1;
  border-radius: 1rem;
  overflow:auto;
  padding: 0 1.5rem 0 1.5rem;
}
.music-player{
  background-color:black;
  position: fixed;
  bottom:0;
  width:100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
  color:#fff;
}
.nav{
  background-color:#121211;
  border-radius:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding:0.5rem 0.75rem;
  margin: 0.22rem;
}
.nav-option{
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75 rem;
}
.nav-option:hover{
  opacity: 1;
}
.nav-option i{
  font-size: 1.25rem;
}
.nav-option a{
  font-size: 1rem;
  margin-left: 1rem;
}

.library{
  margin: 0.25rem;
  background-color: #121211;
  border-radius: 0.5rem;
  height:100%;
  margin:0.22rem;
}
.options{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}
.lib-option{
  opacity: 0.7;
}
.lib-option:hover{
  opacity: 1;
}
.lib-option img{
  height:1.5rem;
 margin-left: 0.5rem;;
}
.lib-option a{
  font-size: 1rem;
  margin-left: 1rem;
}

.icons{
  font-size: 1.25rem;
  display: flex;
  
}
.icons i{
  margin-right: 1rem;
  opacity: 0.7;
}
.icons i:hover{
  opacity: 1;
}
.box{
  background-color: #232323;
  height: 8rem;
  border-radius:0.75rem;
  margin:0.75rem 0 1.75rem 0;
  padding: 0.75rem 1.25rem;
}
.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-p1{
  font-size: 1rem;
  font-weight: 700;

}
.box-p2{
  font-size: 0.85rem;
  opacity:0.9;
}
.badge{
  background-color: white;
  border-radius: 100px;
  border: none;
  padding: 0.25rem 1rem;
  font-weight:700;
  margin-top:0.5rem;
  height:2rem;
  width:fit-content;
}
.sticky-nav{
  position: sticky;
  top:0;
  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem 0 1rem 0;
  height: 3rem;
  z-index:10;

}
    
.sticky-nav-icons {
  margin-left: 0.75rem;
}
.sticky-nav-options{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item{
  margin-right:1.5rem;

}
.dark{
  background-color: #000;
  color: #fff;
}
@media(max-width:1000px){
  .hide{
    display: none;
  }
}
.card{
  background-color: rgb(63, 63, 63);
  width:150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left:1.5rem;
  margin-top: 1rem;
}
.card:hover{
  opacity: 0.8;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
}
.card-img{
  width:100%;
  border-radius: 0.5rem;
}
.card-title{
  font-weight:600;
}
.card-info{
  font-size: 0.8rem;
  opacity: 0.75;
}
.footer{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.line{
  width: 90%;
  height:30%;
  border-top: 1px solid white;
  opacity:0.4;
}
.album{
  width:25%;
  background-color: rgb(0, 0, 0);
  
}
.playback{
  width:50%;
  background-color: greenyellow;
}
.controls{
  width:25%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  margin-right:2rem;
}
.player-control-icon{
  height:1rem;
  margin-left: 1.5rem;
  margin-right:1rem;
  opacity:0.7;

}
.player-control-icon:hover{
  opacity: 1;
}
.player-control{
  display: flex;
  align-items: center;
  justify-content: center;
}
.playback-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-bar{
  width:70%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
  background-color: #ddd;
  border-radius: 100px;
  height:0.22rem;
}
.progress-bar::-webkit-slider-thumb{
  appearance: none;
  height:1rem;
  width:1rem;
  background-color: #1bd760;
  border-radius:50%;
  margin-top:-6px;
}
.album{
  display: flex;
  height: 100%;
  margin: 5px;
}
.album-cover{
  width: 22%;
  height: 60%;
  margin-bottom: 8px;
}
.album-cover img{
  width:100%;
  border-radius: 15%;
  margin:2px;
  padding: 2px;
  flex-wrap: wrap;
}
.album p{
  margin-left: 0.2rem;
  width:75%;
  
}
.album-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40rem;
 
  
}
.album-detail p{
  /* height:0.5%; */
  text-wrap: wrap;
  text-align: center;
  height: 100%;
}
.liked{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0.7;
  font-size: 18px;
}
.liked:hover{
  opacity: 1;
}
/* }
.album-cover img{
  height:60px;
  flex-wrap: wrap;
  width:100%;
  margin-left:0.25rem ;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
}
.song-name p{
margin-bottom: 0.25rem;
margin-left: 0.75rem;
} */
/* .song-name{
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
 flex-wrap: wrap;
} */

